[submodule "home/.zsh/modules/z-autojump"]
	path = home/.zsh/modules/z-autojump
	url = git://github.com/rupa/z.git
[submodule "home/.zsh/modules/zsh-history-substring-search"]
	path = home/.zsh/modules/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
