[submodule "home/.zsh/modules/autojump"]
	path = home/.zsh/modules/autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "home/.zsh/modules/bundler-exec"]
	path = home/.zsh/modules/bundler-exec
	url = https://github.com/gma/bundler-exec.git
