.envrc
.uuid
LOCAL_VERSION
amazon-shell-tools.sh
default.profraw
home/.config/albert/core.db
home/.config/github-Copilot
home/.config/lazygit/state.yml
home/.hammerspoon/secrets.lua
home/.kdiff3rc
home/.zsh/cache/
home/.zsh/modules/fzf-tab/
home/.zsh/private/*
