home/.zsh/private/*
.envrc
home/.config/albert/core.db
home/.config/xfce4/terminal/accels.scm
home/.config/xfce4/xfconf/
home/.zsh/cache/
.uuid
home/.kdiff3rc
amazon-shell-tools.sh
home/.zsh/modules/fzf-tab/
home/.hammerspoon/config.lua
