[include]
  path = .gitcredentials
[alias]
  l = log --graph --pretty=format':%C(yellow)%h%Creset %s %C(green)(%an, %ad%Creset)' --date=short
  lold = log --graph --pretty=format':%C(yellow)%h%Creset %s %C(white) (%an, %ad%Creset) %Cblue%d%Creset' --date=short
  ci = commit
  st = status
  ch = checkout
  cp = cherry-pick -x
  b = branch -v
  r = remote -v
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
  rc = rebase --continue
  ra = rebase --abort
  rh = reset --hard
  clone = clone --recursive
  create-patch = !NR=$(GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline | wc -l | tr -d ' ') && git format-patch HEAD~$NR
  ami = am --committer-date-is-author-date --ignore-date
  fuck = commit --amend
[color]
  branch = auto
  status = auto
  diff = auto
  interactive = auto
  ui = auto
[color "diff"]
  whitespace = red reverse
[core]
  trustctime = false
  autocrlf = input
  excludesfile = ~/.gitignore
  editor = "vim -N -u ~/.vimrc --cmd 'let g:vim_commandline=1' -c 'normal A' -c 'startinsert'"
  pager = diff-so-fancy | less --tabs=4 -RFX
  precomposeunicode = true
  untrackedCache = true
[gc]
  auto = 1000
[branch]
  autosetupmerge = true
[git-up "fetch"]
  prune = false
  all = true
[git-up "bundler"]
  check = true
  autoinstall = true
[push]
  default = current
[pull]
  rebase = true
[merge]
  #summary=true
  tool = kdiff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "kdiff3"]
  trustExitCode = false
  path = /usr/local/bin/kdiff3
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  algorithm = patience
  tool = kdiff3
[difftool]
  prompt = false
[difftool "kdiff3"]
  trustExitCode = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$PWD/$LOCAL\" \"$PWD/$REMOTE\"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[grep]
  patternType = perl
[rerere]
  enabled = true
[diff-so-fancy]
  useUnicodeRuler = false
[rebase]
  autostash = true
[user]
  useconfigonly = true
